<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>eBay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content=""><!-- Bootstrap style -->
    <link href="/themes/bootshop/bootstrap.min.css" id="callCss" media="screen"
    rel="stylesheet">
    <link href="/themes/css/base.css" media="screen" rel="stylesheet">
    <!-- Bootstrap style responsive -->
    <link href="/themes/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Google-code-prettify -->
    <link href="/themes/js/google-code-prettify/prettify.css" rel="stylesheet">
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="/themes/images/ico/favicon.ico">
    <link href="/themes/images/ico/apple-touch-icon-144-precomposed.png" rel=
    "apple-touch-icon-precomposed" sizes="144x144">
    <link href="/themes/images/ico/apple-touch-icon-114-precomposed.png" rel=
    "apple-touch-icon-precomposed" sizes="114x114">
    <link href="/themes/images/ico/apple-touch-icon-72-precomposed.png" rel=
    "apple-touch-icon-precomposed" sizes="72x72">
    <link href="/themes/images/ico/apple-touch-icon-57-precomposed.png" rel=
    "apple-touch-icon-precomposed">
    <style type="text/css" id="enject">
	</style>
</head>

<body>
<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
	<div class="span6"><div class="pull-left">
	<%if(name!==null && lastLogin!==null){%>
	<p style="font-weight:bold">Hi  <%=name%>!  |
	<a href="/logout" style="cursor:pointer; color:blue">Logout</a>  | <%=lastLogin%> </p>
	<%}%>
	<%if(name===null && lastLogin===null){%>
	<p style="font-weight:bold">Hi! <a href="/login" style="cursor:pointer; color:blue">Sign in</a> or
	<a href="/register" style="cursor:pointer; color:blue">Register</a></p>
	<%}%>
	
	</div></div>

	<div class="span6">
	
	<div class="pull-right">
	<a href="/updateItem" value="Update">Update Items</a>
	<a href="/showCart"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> Shopping Cart </span> </a> 
	</div>
	</div>
</div>
<!-- Navbar ================================================== -->

<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="index"><img src="/themes/images/logo.png" alt="Bootsshop"/></a>
		
    <ul id="topMenu" class="nav pull-right">
	
	<%if(name===null && lastLogin===null){%>
	 	 
	 	 <a href="#login" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Sign in</span></a>
         <a href="/register" role="button" data-toggle="modal" style="padding-right:0; width:100"><span class="btn btn-large btn-success">Register</span></a>
	<%}%>
	
	<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
		 
		 
	</div>
	 </li>
    </ul>
  </div>
</div>
</div>
</div>
    <!-- Header End====================================================================== -->
    
    <div id="mainBody">
        <div class="container">
		<div style="color:red"><%=message%></div><br>
        <form name="CreateProduct" method="post" action="/createNewProduct">
			<div class="productname">
            	<input name="productName" type="text" autofocus required id="productName" placeholder="Enter Product Name" autocomplete="on" style="width: 930px;">
            </div>

		 	<div class="productcategory">
           		<label>Category</label>
	          	<select name="category" required id="category" onchange="changeType()">
					<option></option>
	          		<%for(var i=0;i<categories.length;i++)
					{%>
						<option><%=categories[i].p_category%></option>
					<%}
					%>
    	   	   </select>
        	</div>
			
            <div class="producttype">
	           <label>Type</label>
				<select name="type" required id="type">
					<!--<option>1</option>
					<option>2</option>-->
               </select>
            </div>
			
			<div class="productcondition">
            <label>Condition</label>
                <select name="condition" required id="condition">
					<option>New</option>
                    <option>Manufacturer Refurbished</option>
                    <option>Seller Refurbished</option>
                </select>
			</div>

            <div class="productdetails">
				<label>Details</label>
           	  <textarea name="details" rows="8" style="width:600px;" id="details"></textarea>
          	</div>
            
			<div class="availablequantity">
				<label>Available Quantity</label>
                <input name="availablequantity" type="text" required id="availablequantity" autocomplete="on">
          	</div>
            
			<div class="productsellingtype">
				<label>Selling Type</label>
              	<select name="sellingType" required id="sellingType" onchange="changeVisibility()">
					<option>Selling</option>
					<option>Auction</option>
                </select>
			</div>
			
			<div id="bidding" class="bidding" style="display:none">
				<label>Bidding Deadline</label>
                <input name="deadline" type="datetime-local" id="deadline" autocomplete="on">
          	</div>
            
			<div class="productcost">
				<label>Cost</label>
				<input name="cost" type="text" required id="cost" autocomplete="on">
            </div>
            
			<div class="productimage">
            <label>Upload Image</label>
            <input type="file" name="image" id="image" accept="image/gif, image/jpeg, image/png" onchange="uploadImage()">
            </div>
			
			<!--
			<div id="imagepicture" class="imagepicture" style="display:none">
            <img id="picture" src="" alt=""/>
            </div>
			-->
			
			<br>
			
			<div class="formsubmit">
	            <input name="listProduct" type="submit" id="listProduct" value="List Product" style="width:100px;">
          	</div>
        </form>
        </div>
    </div>
    <!-- Footer ================================================================== -->
<div  id="footerSection">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>ACCOUNT</h5>
				
				<a href="/updatePersonalInfo">UPDATE PERSONAL INFORMATION</a> 
				<a href="/sellerLogin">CREATE SELLER ACCOUNT</a> 
				<a href="/showPurchased">ORDER HISTORY</a>
				<a href="/listSellers">LIST ALL SELLERS</a>
				<a href="/logout">LOGOUT</a>  
				
			 </div>

			<div id="socialMedia" class="span3 pull-right">
				<h5>SOCIAL MEDIA </h5>
				<a href="#"><img width="60" height="60" src="/themes/images/facebook.png" title="facebook" alt="facebook"/></a>
				<a href="#"><img width="60" height="60" src="/themes/images/twitter.png" title="twitter" alt="twitter"/></a>
				<a href="#"><img width="60" height="60" src="/themes/images/youtube.png" title="youtube" alt="youtube"/></a>
			 </div> 
		 </div>
		<p class="pull-right">&copy; CmpE 273</p>
	</div><!-- Container End -->
	</div>
    <!-- Placed at the end of the document so the pages load faster ============================================= -->
    <script src="/themes/js/jquery.js" type="text/javascript"></script>
	<script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/themes/js/google-code-prettify/prettify.js"></script>
	<script src="/themes/js/bootshop.js"></script>
	<script src="/themes/js/jquery.lightbox-0.5.js"></script>
	<script>
	
		var option1 = {
			Antique1 : 'Antique1',
			Antique2 : 'Antique2',
			Antique3 : 'Antique3'
		};
		var option2 = {
			Books1 : 'Books1',
			Books2 : 'Books2',
			Books3 : 'Books3'
		};
		var option3 = {
			Art1 : 'Art1',
			Art2 : 'Art2',
			Art3 : 'Art3'
		};
		var option4 = {
			Camera1 : 'Camera1',
			Camera2 : 'Camera2',
			Camera3 : 'Camera3',
			Photo1 : 'Photo1',
			Photo2 : 'Photo2',
			Photo3 : 'Photo3'
		};
		var option5 = {
			Cell1 : 'Cell1',
			Cell2 : 'Cell2',
			Cell3 : 'Cell3',
			Cell4 : 'Cell4',
			Cell5 : 'Cell5',
			Cell6 : 'Cell6',
			Cell7 : 'Cell7',
			Cell8 : 'Cell8',
			Cell9 : 'Cell9',
			Cell10 : 'Cell10',
			Earphones1 : 'Earphones1',
			Earphones2 : 'Earphones2',
			Earphones3 : 'Earphones3',
			Earphones4 : 'Earphones4',
			Earphones5 : 'Earphones5',
			Earphones5 : 'Earphones6',
			Earphones7 : 'Earphones7',
			Earphones8 : 'Earphones8',
			Earphones9 : 'Earphones9',
			Earphones10 : 'Earphones10'
		};
		
		var option6 = {
			Clothes1 : 'Clothes1',
			Clothes2 : 'Clothes2',
			Clothes3 : 'Clothes3',
			Clothes4 : 'Clothes4',
			Clothes5 : 'Clothes5',
			Clothes6 : 'Clothes6',
			Clothes7 : 'Clothes7',
			Clothes8 : 'Clothes8',
			Clothes9 : 'Clothes9',
			Clothes10 : 'Clothes10',
			Shoes1 : 'Shoes1',
			Shoes2 : 'Shoes2',
			Shoes3 : 'Shoes3',
			Shoes4 : 'Shoes4',
			Shoes5 : 'Shoes5',
			Shoes6 : 'Shoes6',
			Shoes7 : 'Shoes7',
			Shoes8 : 'Shoes8',
			Shoes9 : 'Shoes9',
			Shoes10 : 'Shoes10',
			Socks1 : 'Socks1',
			Socks2 : 'Socks2',
			Socks3 : 'Socks3',
			Socks4 : 'Socks4',
			Socks5 : 'Socks5'
		};
		
		var option7 = {
			DVD1 : 'DVD1',
			DVD2 : 'DVD2',
			DVD3 : 'DVD3',
			DVD4 : 'DVD4',
			DVD5 : 'DVD5',
			Movie6 : 'Movie6',
			Movie7 : 'Movie7',
			Movie8 : 'Movie8',
			Movie9 : 'Movie9',
			Movie10 : 'Movie10'
		};
		
		var option8 = {
			GeneralType1 : 'GeneralType1',
			GeneralType2 : 'GeneralType2',
			GeneralType3 : 'GeneralType3',
			GeneralType4 : 'GeneralType4',
			GeneralType5 : 'GeneralType5',
			GeneralType6 : 'GeneralType6',
			GeneralType7 : 'GeneralType7',
			GeneralType8 : 'GeneralType8',
			GeneralType9 : 'GeneralType9',
			GeneralType10 : 'GeneralType10'
		};
		
		function changeVisibility()
		{
			if(document.getElementById('sellingType').value===("Auction"))
			{
				document.getElementById('bidding').style.display = 'block';
			}
			else
			{
				document.getElementById('bidding').style.display = 'none';
			}
		}
		
		function changeType()
		{
			var selectType=document.getElementById('type');
			selectType.options.length=0;
			
			if(document.getElementById('category').value=="Antiques")
			{
				for(index in option1)
				selectType.options[selectType.options.length]=new Option(option1[index], index);
			}

			else if(document.getElementById('category').value=="Books")
			{
				for(index in option2)
				selectType.options[selectType.options.length]=new Option(option2[index], index);
			}

			else if(document.getElementById('category').value=="Art")
			{
				for(index in option3)
				selectType.options[selectType.options.length]=new Option(option3[index], index);
			}

			else if(document.getElementById('category').value=="Cameras & Photo")
			{
				for(index in option4)
				selectType.options[selectType.options.length]=new Option(option4[index], index);
			}

			else if(document.getElementById('category').value=="Cell Phones & Accessories")
			{
				for(index in option5)
				selectType.options[selectType.options.length]=new Option(option5[index], index);
			}

			else if(document.getElementById('category').value=="Clothing, Shoes & Accessories")
			{
				for(index in option6)
				selectType.options[selectType.options.length]=new Option(option6[index], index);
			}
			else if(document.getElementById('category').value=="DVDs & Movies")
			{
				for(index in option7)
				selectType.options[selectType.options.length]=new Option(option7[index], index);
			}
			else
			{
				for(index in option8)
				selectType.options[selectType.options.length]=new Option(option8[index], index);
			}

/*
			if(document.getElementById('category').value===("Auction"))
			{
				document.getElementById('bidding').style.display = 'block';
			}
			if(document.getElementById('category').value===("Auction"))
			{
				document.getElementById('bidding').style.display = 'block';
			}
			if(document.getElementById('category').value===("Auction"))
			{
				document.getElementById('bidding').style.display = 'block';
			}
			if(document.getElementById('category').value===("Auction"))
			{
				document.getElementById('bidding').style.display = 'block';
			}
			if(document.getElementById('category').value===("Auction"))
			{
				document.getElementById('bidding').style.display = 'block';
			}
*/
			if(document.getElementById('category').value===("Auction"))
			{
				document.getElementById('bidding').style.display = 'block';
			}
			
			else
			{
				document.getElementById('bidding').style.display = 'none';
			}
		}
		
		function uploadImage()
		{
			alert("Image Uploaded Successfully: "+document.getElementById('image').value);
			//document.getElementById('imagepicture').style.display = 'block';
			//document.getElementById('picture').src="/themes/images/products/11.jpg";
		}
		
		function validateDate()
		{
//			var currentDate=new Date();
	//		var userDate=document.getElementById("deadline").value;
		//	alert(userDate+" "+currentDate);
/*
			if(userDate.getTime()<currentDate.getTime())
			{
				alert("User entered past date");
				return false;
			}
			else
			{
				alert("User entered correct date");
				return true;
			}
*/
		/*
			if(isNaN(document.getElementById("availablequantity").value))
			{
				alert("Please enter Numeric value in Quantity");
				return false;
			}
			
			if(isNaN(document.getElementById("cost").value))
			{
				alert("Please enter appropriate Cost");
				return false;
			}
			
			var element=document.getElementById("sellingType");
			var op=element.options[element.selectedIndex].text;
			alert(op);
			/*
			if((document.getElementById("sellingType").value.equals("Auction")) && (document.getElementById("availablequantity").value > 1))
			{
				alert("Please enter only 1 quantity for bidding at a time");
				return false;
			}
			*/
			//return false;
		}
	</script>
</body>
</html>